<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
#aside {
	width: 200px;
	height: 3000px;
	position: fixed;
	background: blue;
	overflow: hidden;
	float: left;
}
</style>
</head>
<body>
	

	<div class="row">
		<div class="col-sm-2">
		<div id="aside" th:include="/include/menu::sidemenu"></div>
		</div>
		<div class="col-sm-10">
			<h1 align="center">가게부리스트</h1>
			<h2 th:text="${day}" align="center"></h2>
			<div align="right">
				<a th:href="@{/addCash}">추가</a>
			</div>
			<div align="center">
				<a th:href="@{/getCashListByDate(day=${day.plusDays(-1)})}">이전</a> 
				<a th:href="@{/getCashListByDate(day=${day.plusDays(1)})}">다음</a>
				<table class="table">
					<thead>
						<tr>
							<td>id</td>
							<td>date</td>
							<td>kind</td>
							<td>category</td>
							<td>price</td>
							<td>place</td>
							<td>memo</td>
							<td>수정</td>
							<td>삭제</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cashList : ${cashList}">
							<td th:text="${cashList.memberId}"></td>
							<td th:text="${cashList.cashDate}"></td>
							<td th:text="${cashList.cashKind}"></td>
							<td th:text="${cashList.categoryName}"></td>
							<td th:text="${cashList.cashPrice}"></td>
							<td th:text="${cashList.cashPlace}"></td>
							<td th:text="${cashList.cashMemo}"></td>
							<td><a th:href="@{/modifyCash(cashNo=${cashList.cashNo})}">수정</a></td>
							<td><a th:href="@{/removeCash(cashNo=${cashList.cashNo})}">삭제</a></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		
	</div>

	<div align="right" style="padding: 50px;">
		<h2 th:text="${sum}"></h2>
		<h2>원</h2>
	</div>

</body>
</html>