<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$('#btn').click(function() {
			$('#myform').submit();
		});
	});
</script>
</head>
<body>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div style="padding: 100px 20px 0px 20px;">
				<div class="card">
					<div class="card-body">
						<h1 align="center" style="padding: 20px;">로그인</h1>

						<form method="post" action="/login" id="myform">
							<div style="padding: 0px 50px 0px 50px;">
								<input type="text" id="memberId" name="memberId" class="form-control" placeholder="아이디">
							</div>
							<br>
							<div style="padding: 0px 50px 0px 50px;">
								<input type="password" id="memberPw" name="memberPw" class="form-control" placeholder="비밀번호">
							</div>
							<br>
							<div align="center">
								<a th:href="@{/findMemberId}">아이디가 기억나지 않아요.</a>
							</div>
							<div align="center">
								<a th:href="@{/findMemberPw}">비밀번호가 기억나지 않아요.</a>
							</div>
							<br>
							<div style="padding: 0px 50px 0px 50px;">
								<button type="button" id="btn" class="btn btn-primary btn-block">
									로그인</button>
							</div>
							<br>
							<div style="padding: 0px 50px 50px 50px;">
								<a href="/addMember" class="btn btn-primary btn-block">회원가입</a>
							</div>				
						</form>
					</div>
				</div>

			</div>
		</div>
		<div class="col-sm-4"></div>

	</div>
</body>
</html>