<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			$('#modifyMember').submit();
		});
	});
</script>
<style>
	#aside {
	width: 200px;
	height: 3000px;
	position: fixed;
	background: blue;
	overflow: hidden;
	float: left;
}
</style>
</head>
<body>
	<div id="aside" th:include="/include/menu::sidemenu"></div>
	<div class="row"> 
	<div class="col-sm-3"></div>
	<div class="col-sm-6" align="center">
		<h1 align="center">회원정보수정</h1>
	<form method="post" id="modifyMember" action="http://dudwn715.cafe24.com/cashbook_cashbook/modifyMember" enctype="multipart/form-data">
		<div>
			사진<input type="file" name="memberPic" value="">
		</div>
		<div>
			<img th:src="@{${'/upload/'+member.memberPic}}">
		</div>
		<div>
			이름<br><input type="text" name="memberName" id="memberName" th:value="${member.memberName}">
		</div>
		<div>
			주소<br><input type="text" name="memberAddr" id="memberAddr" th:value="${member.memberAddr}">
		</div>
		<div>
			전화번호<br><input type="text" name="memberPhone" id="memberPhone" th:value="${member.memberPhone}">
		</div>
		<div>
			이메일<br><input type="text" name="memberEmail" id="memberEmail" th:value="${member.memberEmail}">
		</div>
		<br>
		<br>
		<div>
			비밀번호확인<br><input type="text" name="memberPw" id="memberPw" >
			<input type="hidden" name="memberId" th:value="${member.memberId}">
		</div>
		<div>
			<button type="button" id="btn" >수정</button>
		</div>
	</form>
	
	</div>
	<div class="col-sm-3"></div>
	
	</div>
</body>
</html>