<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			$('#removeMember').submit();
		});
	});
</script>
<style>
	#aside {
	width: 200px;
	height: 3000px;
	position: fixed;
	background: blue;
	overflow: hidden;
	float: left;
}
</style>
</head>
<body>
	<div id="aside" th:include="/include/menu::sidemenu"></div> 
	<div class="container">
	<h1 align="center">회원탈퇴</h1>
	<form method="post" id="removeMember" action="http://dudwn715.cafe24.com/cashbook_cashbook/removeMember">
		<div>
			<input type="hidden" name="memberId" th:value="${session.loginMember.memberId}">
			비밀번호입력
			<input type="text" name="memberPw" id="memberPw">
		</div>
		<div>
			<button type="button" id="btn" >제거</button>
		</div>
	</form>
	</div>
</body>
</html>