<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	<!-- 
	비밀번호 찾기 
	1. 사용자 입력한 id와email일치하면 pw변경(랜덤문자열) update
	2. 2번에서 입력한 pw를 메일로 전송
	-->
	<update id="updateMemberPw" parameterType="java.util.Map">
		UPDATE member 
		SET member_pw = PASSWORD(#{memberPw2})
		WHERE member_id = #{memberId}
		AND member_Pw = PASSWORD(#{memberPw1})
	</update>
	<update id="updateMember" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member 
		SET member_name = #{memberName},
			member_addr = #{memberAddr},
			member_phone = #{memberPhone},
			member_email = #{memberEmail},
			member_pic = #{memberPic}
		WHERE member_id = #{memberId}
	</update>
	<select id="selectMemberIdByMember" parameterType="com.gdu.cashbook.vo.Member" resultType="String">
		SELECT
			CONCAT(SUBSTRING(member_id, 1, 3), '****')
		FROM member
		WHERE member_name = #{memberName}
		AND member_phone = #{memberPhone}
		AND member_email = #{memberEmail}
	</select>
	
	<delete id="deleteMember" parameterType="com.gdu.cashbook.vo.LoginMember">
		DELETE FROM member
		WHERE member_id = #{memberId}
		AND	member_pw = PASSWORD(#{memberPw})
	</delete>

	<select id="selectMemberOne" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id as memberId,
			member_name as memberName,
			member_addr as memberAddr,
			member_phone as memberPhone,
			member_email as memberEmail,
			member_pic as memberPic
		FROM member
		WHERE member_id = #{memberId}		
	</select>

	<select id="selectMemberId" parameterType="String" resultType="String">
		SELECT
			member_id
		FROM (	SELECT member_id FROM member
				UNION
				SELECT member_id FROM memberid) t
		WHERE member_id = #{memberIdCheck}
	</select>
	
	<select id="selectLoginMember" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.LoginMember">
		SELECT 
			member_id as memberId,
			member_pw as memberPw
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})	
		
	</select>

	<insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
		INSERT INTO member(
			member_id,
			member_pw,
			member_name,
			member_addr,
			member_phone,
			member_email,
			member_pic
		) VALUES (
			#{memberId},
			PASSWORD(#{memberPw}),
			#{memberName},
			#{memberAddr},
			#{memberPhone},
			#{memberEmail},
			#{memberPic}
		)
	</insert>
</mapper>