<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
    <!-- memberMapper 데이터 추가 쿼리 구현-->
    <insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
        INSERT INTO member(
            member_id,
            member_pw,
            member_name,
            member_addr,
            member_phone,
            member_email
        ) VALUES (
            #{memberId},
            #{memberPw},
            #{memberName},
            #{memberAddr},
            #{memberPhone},
            #{memberEmail}
        )
    </insert>
</mapper>


